<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cast.serviceman.server.mapper.SatInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cast.serviceman.api.entity.SatInfo" >
    <result column="SAT_ID" property="satId" jdbcType="VARCHAR" />
    <result column="SAT_NAME" property="satName" jdbcType="VARCHAR" />
    <result column="SAT_EN_NAME" property="satEN_Name" jdbcType="VARCHAR" />
    <result column="SAT_DATE" property="satDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
      SAT_ID,SAT_NAME,SAT_EN_NAME,SAT_DATE
  </sql>
  <select id="queryAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from satelliteinfo
  </select>

</mapper>